/* .position1{position: absolute; top: 25px; left: 30px; background-color: chartreuse;}
.position2{position: absolute; top: 50px; right: 30px; background-color: chocolate;}
.position3{position: absolute; Bottom: 50px; Left:35px; background-color: brown;}
.position4{position: absolute; bottom: 30px; Right:40px; background-color: deeppink; }
.br{border: 3px solid black;}
div{width: 200px; padding: 1px; text-align: center;}
.h1:hover{border-radius: 15px;transition: 0.5s;}
.h2:hover{border-radius: 15px;transition: 0.5s;}
.h3:hover{border-radius: 15px;transition: 0.5s;}
.h4:hover{border-radius: 15px;transition: 0.5s;} */